<div layout="row" ng-cloak>
    <p>
        Welcome to our little about page for this group assignment. This group assignment was completed and developed by the Prime Digital Academy students below.
    </p>
</div>

<div class='md-padding' layout="row" layout-wrap>
<md-card flex-md="25" class="student">
        <img src="/images/christiana.jpeg" class="md-card-image" alt="This is Christiana!">
        <md-card-content>
            <md-card-footer>
                Christiana
            </md-card-footer>
        </md-card-content>
</md-card>
<md-card flex-md="25" class="student">
        <img src="/images/elizabeth.png" class="md-card-image" alt="This is Elizabeth!">
        <md-card-content>
            <md-card-footer>
                Elizabeth
            </md-card-footer>
        </md-card-content>
</md-card>
<md-card flex-md="25" class="student">
        <img src="/images/louis.jpeg" class="md-card-image" alt="This is Louis!">
        <md-card-content>
            <md-card-footer>
                Louis
            </md-card-footer>
        </md-card-content>
</md-card>
<md-card flex-md="25" class="student">
        <img src="/images/renee.jpeg" class="md-card-image" alt="This is Renee!">
        <md-card-content>
            <md-card-footer>
                Renee
            </md-card-footer>
        </md-card-content>
</md-card>
</div>